<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home - Brand</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/Highlight-Clean-1.css">
  <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
  <link rel="stylesheet" href="assets/css/Home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
  <div class="container"><a class="navbar-brand" href="/">ShakeItUp</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/search/randomPage">Random</a></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead" style="background-image: url(https://shake-it-up-bonhacketit.s3.eu-north-1.amazonaws.com/img/home-bg.jpg);height: 350px;">
  <div class="overlay" style="height: 350px;border-style: none;border-color: rgb(26,23,77);"></div>
  <div class="container">
    <div class="row" style="height: 350px;">
      <div class="col-md-10 col-lg-8 mx-auto position-relative" style="height: 350px;border-style: none;">
        <div class="site-heading" style="height: 192px;">
          <h1 style="background: rgba(255,255,255,0);margin-bottom: 0px;border-radius: 0;border-top-right-radius: 0px;">Browse Cocktails</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">

  <div class="row text-center d-lg-flex justify-content-lg-center align-items-lg-center" style="padding: 5px;margin: 5px;">
    <div class="row-cols-3" style="width: 20%;margin-right: 2%;margin-left: 2%;">
    <% @hash1.each_with_index {|(name, url), index|  %>
        <%= link_to image_tag(url,class: "rounded-circle d-flex justify-content-lg-center", style: "z-index: -1;"), search_cocktailPage_path(id: @IdArr[index])%>
        <%= link_to name, search_cocktailPage_path(id: @IdArr[index]), class: "d-flex justify-content-lg-center", style: "width: 100%;margin-left: 1px;margin-top: 11px;"  %>
        <br>
    <% }%>
  </div>
</div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
          <p class="text-muted copyright">Copyright&nbsp;©&nbsp;ShakeItUp 2021</p>
        </div>
      </div>
    </div>
  </footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="assets/js/clean-blog.js"></script>
</body>

</html>
